






<h1>HomePage</h1><br>

<% if current_user && current_user.role == 'Provide Service'%>
  <h2>Users Requiring your service</h2>
  <% @users.each do |user| %>
    <% user.posts.each do |post| %>
      <% if post.post_type != current_user.role && post.service_type === current_user.service %>


    <div class="row">

        <div class="well">
            <div class="media">
              <a class="pull-left" href="#">
                <% if user.avatar.exists?%><%= image_tag(user.avatar.url(:thumb)) %><% else %><%=  image_tag("/app/assets/images/thumb/missing.png") %> <% end %>
            </a>

            </a>
            <div class="media-body">
              <h4 class="media-heading"><%= post.post_type %> || <%= post.service_type %></h4>
                <p class="text-right">By <%= link_to user.username + "- click to see complete posting ", user_path(user) %> </p>
                <p><%= post.content.split(" ").join(" ")[0..30] %>...</p>
                <ul class="list-inline list-unstyled">
              <li style="color:green"><span><i class="glyphicon glyphicon-calendar"></i> <%= post.created_at %></span></li>
                  <li>|</li>


            </ul>
             </div>
          </div>
        </div>
      </div>









      <% end %>
    <% end %>
  <% end %>









<% elsif current_user && current_user.role == 'Request Service'%>
  <h2>Users Providing your required service</h2>
  <% @users.each do |user| %>
    <% user.posts.each do |post| %>
      <% if post.post_type != current_user.role && post.service_type == current_user.service %>





      <div class="row">

          <div class="well">
              <div class="media">
                <a class="pull-left" href="#">
                  <% if user.avatar.exists?%><%= image_tag(user.avatar.url(:thumb)) %><% else %><%=  image_tag("/app/assets/images/thumb/missing.png") %> <% end %>
              </a>

              </a>
              <div class="media-body">
                <h4 class="media-heading"><%= post.post_type %> || <%= post.service_type %></h4>
                  <p class="text-right">By <%= link_to user.username + "- click to see complete posting ", user_path(user) %> </p>
                  <p><%= post.content.split(" ").join(" ")[0..30] %>...</p>
                  <ul class="list-inline list-unstyled">
                <li style="color:green"><span><i class="glyphicon glyphicon-calendar"></i> <%= post.created_at %></span></li>
                    <li>|</li>


              </ul>
               </div>
            </div>
          </div>
        </div>






      <% end %>
    <% end %>
  <% end %>
<% end %>















  <h2>All Posts</h2>
  <br>
  <% if current_user %>
    <% @users.each do |user| %>
      <% if user.posts.length > 0 %>
        <% user.posts.each do |post|%>





              <div class="well">
                <div class="media">
                  <a class="pull-left" href="#">
                    <% if user.avatar.exists?%><%= image_tag(user.avatar.url(:thumb)) %><% else %><%=  image_tag("/app/assets/images/thumb/missing.png") %> <% end %>
                </a>
                <div class="media-body">
                  <h4 class="media-heading"><%= post.post_type %> || <%= post.service_type%></h4>
                    <p class="text-right">By <%= link_to user.username + "- click to see complete posting ", user_path(user) %></p>
                    <div class="pull-right"></div>
                    <p><%= post.content.split(" ").join(" ")[0..30] %>...</p>
                    <ul class="list-inline list-unstyled">
                  <li style="color:green"><span><i class="glyphicon glyphicon-calendar"></i> <%= post.created_at %> </span></li>
                </ul>
                 </div>
              </div>
            </div>



      <% end %>
    <% end %>
  <% end %>
<% end %>
