
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">Join The Community</div>
      <div class="panel-body">
        <h1>Signup!</h1><br>

        <%= simple_form_for @user, validate: true do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <div class="alert alert-danger">
              The form contains <%= pluralize(@user.errors.count, "error") %> errors
            </div>
            <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <div class="alert alert-warning">
                <li><%= msg %></li>
              </div>
            <% end %>
            </ul>
          </div>
        <% end %>


          <%= f.input :username, label: 'Username' %>
          <%= f.input :email, label: 'Email' %>
          <%= f.input :role, label: 'Role', collection: ['Provide Service', 'Request Service'] %>
          <%= f.input :service, label: 'Service', collection: ['Tutoring', 'Home Improvement', 'Personal Training'] %>
          <%= f.input :password, label: 'Password' %>
          <%= f.input :password_confirmation, label: 'Password Confirmation' %>
          <%= f.file_field :avatar, label: "Avatar" %><br>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-6">

  </div>
</div>
