<h1><%=@user.username%>'s Projects</h1>

<% if @user.id != current_user.id%>
 <%= link_to 'Rate Me', new_user_rating_path(@user) %>
<% end %>

<h2>My Average Rating</h2>
<% my_ratings = [] %>
<% @ratings.each do |rating| %>
  <% if rating.user_id == @user.id%>
    <% my_ratings.push(rating.value) %>
  <% end %>
<% end %>
<%= @user.average_rating(my_ratings) %>


<br> <br>


<%= link_to 'Make a Post', new_user_post_path(current_user.id) %>


<h2>My Posts</h2>
<% @posts.each do |post| %>
  <ul>
    <li><%= post.post_type%></li>
    <li><%= post.service_type%></li>
    <li><%= post.content%></li>
    <li><%= post.created_at%></li>

    <% if @user.id != current_user.id %>
      <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post'%>
    <% end %>

    <%= link_to 'Edit', edit_user_post_path(@user, post)%>
    <%= link_to 'Delete', [@user, @post], method: :delete, data: {confirm: "Are you sure you want to delete this post? This cannot be undone!"} %>
  </ul>
<% end %>
